@media screen and (max-width: 992px){
  html {
  	zoom: 0.8;
  }
}

body {
	margin: 0;
    background-color: #AB6832;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

a {
	text-decoration: none;
}

/*Navigation Bar*/
.nav-container {
	height: 150px;
	display: grid;
	background-color: #381f14;
	position: fixed;
	width: 100%;
}

.nav-top {
	width: 80%;
	margin: 0 auto;
	height: 110px;
	display: flex;
}

.top-left {
	width: 20%;
}

.top-left img {
	margin-top: 5px;
	margin-left: 70px;
}

.top-right {
	width: 60%;
}

.top-right h1 {
	text-align: center;
	font-size: 50px;
	color: #ffcc00;
	font-family: 'Noto Sans JP',sans-serif;
	font-weight: 600;
	text-shadow: 5px 5px 15px black;
	margin-bottom: 0;
}

.top-empty {
	width: 20%;
}

.nav-bottom {
	width: 100%;
	height: 40px;
	background-color: #914C24;
}

nav {
	width: 80%;
	margin: 0 auto;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 40px;
	text-align: center;
}

nav li {
	margin: 7px 30px 7px 30px;
	display: inline-block;
	font-size: 20px;
	font-family: 'Geneva', sans-serif;
	font-weight: 550;
	position: relative;
}

.nav-item {
	color: white;
}

.nav-item:hover {
	color: rgb(255, 255, 128);
	text-shadow: 0 0 12px rgb(0,0,0,0.5);
	font-size: 21px;
	transition: ease-in font-size 0.3s;
}

.nav-item-active {
	color: rgb(255, 255, 128);
	text-shadow: 0 0 12px rgb(0,0,0,0.5);
	font-size: 21px;
	transition: ease-in-out;
}

.nav-drop .nav-drop-btn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
}

.nav-drop-btn {
	margin-bottom: 14px;
	font-weight: 550;
}

.nav-drop-btn-active {
	font-size: 20px;  
	border: none;
	outline: none;
	color: white;
	background-color: transparent;
	margin-bottom: 14px;
	font-weight: 550;
	color: rgb(255, 255, 128);
	text-shadow: 0 0 12px rgb(0,0,0,0.5);
	font-size: 21px;
}

.nav-drop-btn:hover {
	color: rgb(255, 255, 128);
	text-shadow: 0 0 12px rgb(0,0,0,0.5);
	font-size: 21px;
	transition: ease-in font-size 0.3s;
}

.nav-drop-item {
  display: none;
  position: absolute;
  background-color: #552800;
  min-width: 160px;
  margin-top: 0px;
  text-decoration: none;
}

.nav-drop-item a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}

.nav-drop-item a:hover {
  background-color: #ddd;
  color: black;
}

.nav-drop:hover .nav-drop-item {
  display: block;
}

/*Header*/
.home-body {
	width: 80%;
	margin: 0 auto;
	height: 600px;
	padding-top: 150px;
	display: grid;
}

.home-body-heading {
	height: 70px;
	margin: 40px 155px 0 155px;
}

.home-body-heading h1 {
	text-align: center;
	color: rgb(0,0,0,0.8);
	font-family: 'Geneva',sans-serif;
	font-size: 40px;
	background-color: #bbab9b90;
}

.home-body-content {
	height: 400px;
	display: flex;
}

.home-body-left {
	width: 50%;
	padding: 10px 30px;
	background-color: #dfb786;
}

.home-body-left h2 {
	text-align: center;
	font-family: 'Geneva',sans-serif;
	font-size: 45px;
}

.home-body-left p {
	margin-top: 50px;
	font-family: 'Geneva',sans-serif;
	text-align: justify;
	font-size: 25px;
}

.home-body-right {
	padding: 0 0 0 30px;
	width: 50%;
	display: grid;
}

.home-right-top {
	height: 300px;
	background-color: white;
	width: 70%;
	margin: 0 auto;
}

.home-right-top img {
	width: 100%;
	height: 300px;
}

.home-right-bottom {
	height: 100px;
	width: 70%;
	margin: 0 auto;
	background-color: #bbab9b90;
}

.home-right-bottom h2 {
	font-size: 20px;
	font-family: 'Geneva',sans-serif;
	text-align: center;
	color: rgb(0,0,0,0.9);
}

/*BIO*/
.head-bio {
	width: 80%;
	margin: 0 auto;
	height: 600px;
	padding-top: 150px;
	display: grid;
}

.head-bio-title {
	height: 100px;
	margin: 40px 155px 0 155px;
}

.head-bio-title h1 {
	text-align: center;
	color: rgb(0,0,0,0.8);
	font-family: 'Geneva',sans-serif;
	font-size: 40px;
	background-color: #bbab9b90;
}

.head-bio-down {
	width: 100%;
	margin: 0 auto;
	height: 500px;
	display: flex;
}

.head-bio-1 {
	width: 50%;
	height: 360px;
	margin: 0 30px;
	background-color: #dfb786;
	padding: 20px;
}

.head-bio-1 h2 {
	text-align: center;
	font-family: 'Geneva',sans-serif;
	font-size: 45px;
	margin-top: 0;
}

.head-bio-1 p {
	margin-top: 50px;
	font-family: 'Geneva',sans-serif;
	text-align: justify;
	font-size: 20px;
}

.head-bio-2 {
	width: 50%;
	height: 400px;
	margin: 0 30px;
}

.head-bio-2 img {
	width: 100%;
	height: 400px;
}

/*About coffee*/
.about-space {
	width: 80%;
	margin: 0 auto;
	height: 600px;
	padding-top: 150px;
	display: grid;
}

.space-top {
	height: 100px;
	margin: 40px 155px 0 155px;
}

.space-top h1 {
	text-align: center;
	color: rgb(0,0,0,0.8);
	font-family: 'Geneva',sans-serif;
	font-size: 45px;
	background-color: #bbab9b90;
}

.space-down {
	width: 100%;
	height: 360px;
	background-color: #dfb786;
}

.space-down p {
	margin-top: 50px;
	font-family: 'Geneva',sans-serif;
	text-align: justify;
	font-size: 25px;
	margin: 50px 100px;
}

/*Around World*/
.around-container {
	width: 80%;
	margin: 0 auto;
	height: 754px;
}

.around-1 {
	width: 80%;
	margin: 0 auto;
	padding-top: 15%;
}

.around-1 h1 {
	margin: 0;
	text-align: center;
	color: rgb(0,0,0,0.8);
	font-family: 'Geneva',sans-serif;
	font-size: 45px;
	background-color: #bbab9b90;
}

.around-2 {
	width: auto;
	height: 43%;
}

.around-2-title {
	height: 10%;
	margin: 0;
	text-align: center;
	color: rgb(0,0,0,0.8);
	font-family: 'Geneva',sans-serif;
	font-size: 20px;
}

.around-2-title h2 {
	margin: 40px 0 0 0;
}

.around-2-img {
	height: 80%;
	display: flex;
	justify-content: center;
}

.around-2-img img {
	width: 700px;
	height: 280px;
}

.around-3 {
	width: 90%;
	margin: 0 auto;
	height: 12%;
	background-color: #dfb786;
}

.around-3 p {
	margin: 30px 20px 0 20px;
	color: rgb(0,0,0,0.9);
	font-family: 'Geneva',sans-serif;
	font-weight: 550;
	font-size: 20px;
	text-align: center;
}

.around-title-down {
	height: 30px;
	margin: 0;
	text-align: center;
	color: rgb(0,0,0,0.8);
	font-family: 'Geneva',sans-serif;
	font-size: 20px;
}

.around-img-down {
	display: flex;
	justify-content: center;
}	

.around-img-down img {
	width: 700px;
	height: 280px;
}

.around-p-down {
	background-color: #dfb786;
	margin: 30px 20px 0 20px;
	color: rgb(0,0,0,0.9);
	font-family: 'Geneva',sans-serif;
	font-weight: 550;
	font-size: 20px;
	text-align: center;
	width: 75%;
	margin: 10px auto;
}

/*footer*/
.footer-main {
	height: 80px;
	width: auto;
	display: flex;
	background-color: #381f14;
}

.footer-left {
	display: flex;
	width: 33%;
	margin: 10px 20px;
}

.footer-left img {
	width: 50px;
	height: 50px;
	margin: 7px 0;
}

.footer-left img:hover {
	zoom: 1.1;
	box-shadow: 0 0 15px rgb(0,0,0,0.5);
}

.footer-left h3 {
	margin: 20px 30px;
	font-family: 'Geneva',sans-serif;
	font-size: 20px;
	color: white;
	text-shadow: 5px 5px 8px rgb(0,0,0,0.5);
	letter-spacing: 0.7px;
}

.footer-middle {
	width: 33%;
	margin: 10px 20px;
}

.footer-middle h2 {
	font-size: 20px;
	text-align: center;
	margin: 22px 0;
	color: white;
	font-family: 'Geneva', sans-serif;
}

.footer-right {
	width: 33%;
	margin: 10px 20px;
}

.footer-right h2 {
	margin: 10px 30px;
	font-family: 'Geneva',sans-serif;
	font-size: 20px;
	color: white;
	text-shadow: 5px 5px 8px rgb(0,0,0,0.5);
	letter-spacing: 0.7px;
	text-align: center;
}