body {
	margin: 0;
}

body {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

/*Navigation Bar*/
.nav-container {
	width: auto;
	height: 10rem;
	background-color: #663000;
}

nav img {
	margin-left: 30px;
	margin-top: 30px;
}

@media (max-width: 500px){
	nav img {
		width: 100px;
		height: 30px;
	}
}

nav span {
	margin-left: 250px;
	margin-right: 250px;
	color: #FFF017;
	font-family: 'Tahoma',sans-serif;
	font-weight: 500;
	font-size: 3.8rem;
	text-shadow: 5px 5px 15px black;
}

.nav-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: -10px;
	background-color: rgb(77, 36, 0, 0.7);
}

nav a {
	text-decoration: none;
	padding-left: 70px;
	padding-right: 65px;
	color: white;
	font-family: 'Geneva',sans-serif;
	font-size: 25px;
	font-weight: 530;
}

nav a:hover {
	color: #FFF017;
	background-color: rgb(0, 0, 0, 0.3);
	transition: ease-in-out 0.5s;
}

/*Header*/
.home-body {
	width: auto;
	height: 550px;
	background-color: #914C24;
	display: grid;
}

.home-body-heading {
	width: 80%;
	height: 100px;
	margin: 0 155px 0 155px;
}

.home-body-heading h1 {
	text-align: center;
	color: white;
	font-size: 40px;
}

.home-body-content {
	width: 80%;
	height: 400px;
	display: flex;
	margin: 0 155px 0 155px;
}

.home-body-left {
	width: 50%;
	background-color: white;
}

.home-body-left h2 {
	text-align: center;
}

.home-body-right {
	width: 50%;
	display: grid;
}

.home-right-top {
	height: 300px;
	background-color: white;
}

.home-right-bottom {
	height: 100px;
	background-color: black;
}

/*BIO*/
.head-item-bio {
	position: relative;
	float: right;
	right: 200px;
	bottom: 300px;
	width: 30rem;
	height: 400px;
	background-color: grey;
}
/*coffee*/
.head-item2-coffee {
	position: relative;
	width: 55rem;
	height: 200px;
	background-color: grey;
	left: 100px;
	top: 100px;
	padding-top: 5.5px;
}
.head-item3-coffee {
	position: relative;
	width: 40rem;
	height:150px;
	background-color: grey;
	left: 100px;
	top: 100px;
	padding-top: 5.5px;
}